@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
:root {
  --h-height: 76px;
  --f-height: 100px;
  --w-cont: 1600px;
}
@media (max-width: 1679px) {
  :root {
    --w-cont: 1320px;
  }
}
@media (max-width: 1399px) {
  :root {
    --w-cont: 1140px;
    --f-height: 220px;
  }
}
@media (max-width: 1199px) {
  :root {
    --w-cont: 960px;
  }
}
@media (max-width: 991px) {
  :root {
    --w-cont: 720px;
    --f-height: 60px;
  }
}
@media (max-width: 767px) {
  :root {
    --w-cont: 540px;
  }
}
@media (max-width: 575px) {
  :root {
    --h-height: 60px;
    --w-cont: 100%;
  }
}

:root[data-theme=light] {
  --bg: #fff;
  --bg-invert: #060606;
  --switcher-bg: #EDEDED;
}

:root[data-theme=dark] {
  --bg: #151515;
  --bg-invert: #fff;
  --switcher-bg: #FFFFFF;
}

/* mixins */
/* Typography */
a, a:hover, a:focus, a:active {
  color: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, label, span, a, button, form, fieldset, legend, select, input, textarea, button, div, blockquote, cite, figure, figcaption, table, ul, ol, dl, address {
  line-height: 100%;
  margin-bottom: 0px;
}

h1, h2 {
  text-align: left;
  font-size: 3.8em;
  line-height: 130%;
  font-weight: 600;
  margin-bottom: 1em;
}

h3 {
  text-align: center;
  font-size: 1.25em;
  font-weight: 600;
}

h4 {
  text-align: left;
  font-size: 1.2em;
  font-weight: 400;
  color: #9A4AF6;
  text-transform: uppercase;
  margin-bottom: 1em;
}

h5 {
  text-align: left;
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: 1em;
}

h6 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0px;
}

.fs-08 {
  font-size: 0.8em;
}
.fs-09 {
  font-size: 0.9em;
}
.fs-10 {
  font-size: 1em;
}
.fs-11 {
  font-size: 1.1em;
}
.fs-12 {
  font-size: 1.2em;
}
.fs-13 {
  font-size: 1.3em;
}
.fs-14 {
  font-size: 1.4em;
}
.fs-15 {
  font-size: 1.5em;
}
.fs-16 {
  font-size: 1.6em;
}
.fs-17 {
  font-size: 1.7em;
}
.fs-18 {
  font-size: 1.8em;
}
.fs-19 {
  font-size: 1.9em;
}
.fs-20 {
  font-size: 2em;
}
.fs-25 {
  font-size: 2.5em;
}
.fs-30 {
  font-size: 3em;
}
.fs-35 {
  font-size: 3.5em;
}
.fs-40 {
  font-size: 4em;
}

.fw-3 {
  font-weight: 300;
}
.fw-4 {
  font-weight: 400;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 600;
}
.fw-7 {
  font-weight: 700;
}
.fw-8 {
  font-weight: 800;
}
.fw-9 {
  font-weight: 900;
}

.color-2 {
  color: #B9FF4A;
}

.accent {
  color: #9A4AF6;
}

.script {
  font-family: "Brush";
}

.gray {
  color: #636363;
}

/* Form elements */
input, textarea {
  background: #F6F6F6;
  border: none;
  border-radius: 4px;
  padding: 1em 1.5em;
  width: 100%;
  line-height: normal;
  outline: none;
  display: block;
  transition: 0.3s ease;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #B7B7B7;
  font-weight: 400;
}
input::placeholder, textarea::placeholder {
  color: #B7B7B7;
  font-weight: 400;
}

input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
  width: 1.35em;
  height: 1.35em;
  border: 1px solid #C4C4C4;
  background-color: #fff;
  border-radius: 0.25em;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  transition: 0.3s ease;
  position: relative;
}
input[type=checkbox]::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 130%;
  width: 130%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transition: 0.3s ease;
  opacity: 0;
}
input[type=checkbox]:checked {
  border: 1px solid #B9FF4A;
}
input[type=checkbox]:checked::before {
  opacity: 1;
}
input[type=file] {
  padding: 0px;
}
input[type=file]::file-selector-button {
  color: #fff !important;
  background-color: #0433FF !important;
  height: 100% !important;
  padding: 1em 1.25em;
  float: unset;
  box-sizing: border-box;
  border: none;
  margin-right: 1em;
}
input[type=file]::-webkit-file-upload-button, input[type=file]::-ms-browse {
  color: #fff !important;
  background-color: #0433FF !important;
  height: 100% !important;
  padding: 1em 1.25em;
  float: unset;
  box-sizing: border-box;
  border: none;
  margin-right: 1em;
}

.form-control[type=file] {
  background: #F6F6F6;
  border: none !important;
  border-radius: 4px;
  padding: 0px !important;
  width: 100%;
  line-height: normal;
  outline: none;
  display: block;
  transition: 0.3s ease;
  height: 3.2em;
  font-size: 1em;
  box-sizing: border-box;
}
.form-control[type=file]::file-selector-button {
  color: #fff !important;
  background-color: #0433FF !important;
  height: 100% !important;
  padding: 1em 1.5em;
  float: unset;
  box-sizing: border-box;
}
.form-control[type=file]::-webkit-file-upload-button, .form-control[type=file]::-ms-browse {
  color: #fff !important;
  background-color: #0433FF !important;
  height: 100% !important;
  padding: 1em 1.5em;
  float: unset;
  box-sizing: border-box;
}

label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
label span {
  flex: 1;
  margin-left: 0.6em;
}

button {
  background: none;
  border: none;
  padding: unset;
  display: block;
  font-family: inherit;
  outline: none;
  color: inherit;
}

.btn, .btn-4, .btn-3, .btn-2, .btn-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.75em 1.4em;
  text-align: center;
  transition: 0.3s ease;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1em;
  font-weight: 400;
  border-radius: 1.6em;
  border: 2px solid;
}
.btn-1 {
  color: #fff;
  background: transparent;
  border-color: #B9FF4A;
}
.btn-2 {
  color: #9A4AF6;
  background: #3452FF;
  border: 1px solid #3452FF;
}
.btn-2:hover, .btn-2:focus, .btn-2:active {
  color: #9A4AF6;
  background: #3452FF;
  border: 1px solid #3452FF;
  box-shadow: 0px 0px 0.75em rgba(154, 74, 246, 0.3);
  animation: pulse 0.4s linear;
}
.btn-2:active {
  color: #9A4AF6;
  background: #B9FF4A;
  border: 1px solid #B9FF4A;
  box-shadow: none;
}
.btn-3 {
  color: #fff;
  background: #B9FF4A;
  border: 1px solid #B9FF4A;
}
.btn-3:hover, .btn-3:focus, .btn-3:active {
  color: #fff;
  background: #F5A23F;
  border: 1px solid #F5A23F;
}
.btn-4 {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  text-transform: unset;
}
.btn-4:hover, .btn-4:focus, .btn-4:active {
  color: #9A4AF6;
  background: #fff;
  border: 1px solid #fff;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 0.75em rgba(154, 74, 246, 0.3);
  }
  50% {
    box-shadow: 0px 0px 0.75em rgba(154, 74, 246, 0.6);
  }
  100% {
    box-shadow: 0px 0px 0.75em rgba(154, 74, 246, 0.3);
  }
}
/* Blocks */
.flex-1 {
  flex: 1;
}

@media (min-width: 1680px) {
  .container.custom-container {
    max-width: 1600px;
  }
}
@media (min-width: 1850px) {
  .container.custom-container {
    max-width: 1780px;
  }
}

.mb-45 {
  margin-bottom: 4.5em;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  font-size: 0.9em;
  color: #636363;
  font-weight: 300;
  margin-bottom: 3em;
}
@media (max-width: 575px) {
  .breadcrumbs {
    margin-bottom: 2em;
  }
}
.breadcrumbs li:not(:last-child) {
  margin-right: 1em;
}
.breadcrumbs li:not(:last-child)::after {
  content: "/";
  margin-left: 1em;
}

.swiper {
  position: unset;
}
.swiper-button, .swiper-button-prev, .swiper-button-next {
  background-color: #fff;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  box-shadow: 4px 4px 17px rgba(0, 0, 0, 0.18);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 0px;
  transform: translateY(-50%);
  transition: 0.3s ease;
}
.swiper-button-next {
  right: -2em;
}
.swiper-button-prev {
  left: -2em;
}
.swiper-button::after, .swiper-button-next::after, .swiper-button-prev::after {
  color: #0433FF;
  font-weight: 700;
  font-size: 1.25em;
  line-height: 1.2em;
}
.swiper-button:hover, .swiper-button-next:hover, .swiper-button-prev:hover, .swiper-button:focus, .swiper-button-next:focus, .swiper-button-prev:focus {
  background-color: #0433FF;
}
.swiper-button:hover::after, .swiper-button-next:hover::after, .swiper-button-prev:hover::after, .swiper-button:focus::after, .swiper-button-next:focus::after, .swiper-button-prev:focus::after {
  color: #fff;
}
.swiper-button:active, .swiper-button-next:active, .swiper-button-prev:active {
  background-color: #9A4AF6;
}
.swiper-button:active::after, .swiper-button-next:active::after, .swiper-button-prev:active::after {
  color: #fff;
}

.themes-switcher input {
  width: 30px;
  height: 10px;
  background-color: var(--switcher-bg);
  border-radius: 5px;
  border: none;
}
.themes-switcher input::before {
  content: "";
  top: 0px;
  left: 0px;
  width: 10px;
  height: 100%;
  border-radius: 50%;
  background-image: url(imgs/icons/sun.svg);
  background-color: transparent;
  transform: scale(2.6);
  transition: 0.3s ease;
  opacity: 1;
}
.themes-switcher input:checked {
  border: none;
}
.themes-switcher input:checked::before {
  left: 20px;
  background-image: url(imgs/icons/moon.svg);
}

.lang-switcher {
  position: relative;
}
.lang-switcher button {
  width: 100%;
  border-radius: 5px;
  background-color: var(--bg-invert);
  color: var(--bg);
  font-size: 1em;
  padding: 0.1em 0.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  transition: border-radius 0.1s linear;
}
.lang-switcher button svg {
  font-size: 0.7em;
  margin-left: 0.1em;
}
.lang-switcher ul {
  list-style: none;
  padding-left: 0px;
  background-color: var(--bg-invert);
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  border-radius: 0 0 5px 5px;
}
.lang-switcher ul li {
  width: 100%;
  margin: 0px !important;
}
.lang-switcher.opened > button {
  border-radius: 5px 5px 0 0;
}

.logo {
  width: 71px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

body {
  margin: 0;
  font-family: "Source Sans Pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  font-weight: 400;
  background-color: var(--bg);
  color: var(--bg-invert);
  overflow-x: hidden;
}
@media (max-width: 1679px) {
  body {
    font-size: 18px;
  }
}
@media (max-width: 1399px) {
  body {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  body {
    font-size: 12px;
  }
}

main {
  min-height: calc(100vh - var(--h-height) - var(--f-height));
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header {
  position: relative;
  height: var(--h-height);
}
header nav.main {
  height: var(--h-height);
}
header nav.main ul {
  height: var(--h-height);
  display: flex;
  align-items: stretch;
  list-style: none;
  padding-left: 0px;
}
header nav.main ul li:not(:first-child) {
  margin-left: 2.4em;
}
@media (max-width: 1399px) {
  header nav.main ul li:not(:first-child) {
    margin-left: 1.75em;
  }
}
@media (max-width: 1199px) {
  header nav.main ul li:not(:first-child) {
    margin-left: 1.2em;
  }
}
header nav.main ul li a, header nav.main ul li button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
  font-size: 1em;
}
header .right {
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
header .right li:not(:first-child) {
  margin-left: 2em;
}

.sec-home-1 {
  background-color: #000;
  border-radius: 0.8em;
  padding: 5%;
  min-height: calc(100vh - var(--h-height));
  color: #fff;
}

.ticker {
  list-style: none;
  padding-left: 0px;
  background-color: var(--bg-invert);
  color: var(--bg);
  height: 127px;
  font-size: 2.7em;
  transform: rotateZ(2deg);
  overflow: hidden;
  pointer-events: none;
}
.ticker .swiper {
  height: 100%;
}
.ticker .swiper-wrapper {
  transition-timing-function: linear;
}
.ticker .swiper-slide {
  width: -moz-fit-content !important;
  width: fit-content !important;
  height: unset;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.ticker.type-2 {
  background-color: #3452FF;
  transform: rotateZ(-2deg);
}
.ticker.type-2 .swiper-slide span {
  border: 2px solid currentColor;
  border-radius: 1em;
  padding: 0.1em 0.5em;
  color: #fff;
}

footer {
  height: var(--f-height);
  background-color: var(--bg-invert);
  color: var(--bg);
  margin: 1em 0;
  padding: 0 1.875em;
  border-radius: 0.8em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
footer a {
  margin-left: 2em;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  list-style: none;
  padding-left: 0px;
}
.social li:not(:first-child) {
  margin-left: 0.6em;
}
.social li a {
  opacity: 0.8;
  transition: 0.3s ease;
}
.social li a:hover, .social li a:focus, .social li a:active {
  opacity: 1;
}
.social li a img {
  width: 2em;
  height: 2em;
}/*# sourceMappingURL=style.css.map */