@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --h-height: 100px;
    --f-height: 240px;
    --w-cont: 1600px;
    @media (max-width: 1679px){
        --w-cont: 1320px;
    }
    @media (max-width: 1399px){
        --w-cont: 1140px;
    }
    @media (max-width: 1199px){
        --w-cont: 960px;
    }
    @media (max-width: 991px){
        --w-cont: 720px;
    }
    @media (max-width: 767px){
        --w-cont: 540px;
    }
    @media (max-width: 575px){
        --w-cont: 100%;
    }
}

$main-font: "Rubik";
$font-script: "Brush";
$font-color: #181818;
$title-color: #000;
$color-1: #B479F8;
$color-2: #F8AA4E;
$color-3: #E0C8FC;
$color-4: #9A4AF6;
$color-5: #FF65E8;
$color-6: #F5A23F;
$gray: #636363;
$transition: .3s ease;
$radius: 10px;

/* mixins */
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin box {
    background: #FFFFFF;
    box-shadow: 4px 7px 20px rgba(0, 0, 0, 0.14);
    border-radius: 1em;
    hr {
        height: 4px;
        width: 60%;
        margin: 1em auto;
        border: none;
        background-color: $color-2;
        opacity: 1;
    }
}
@mixin no-appearance {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    outline: none;
}

a, a:hover, a:focus, a:active {
    color: inherit;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}
p, label, span, a, button, form, fieldset, legend, select, input, textarea, button, div, blockquote, cite, figure, figcaption, table, ul, ol, dl, address {
    line-height: 100%;
    margin-bottom: 0px;
}


/* Form elements */
input, textarea {
    background: #F6F6F6;
    border: none;
    border-radius: 4px;
    padding: 1em 1.5em;
    width: 100%;
    line-height: normal;
    outline: none;
    display: block;
    transition: $transition;
    &:-moz-placeholder, &::-moz-placeholder,
    &::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder {
        color: #B7B7B7;
        font-weight: 400;
    }
    &::placeholder {
        color: #B7B7B7;
        font-weight: 400;
    }
}
input {
    &[type='checkbox']{
        @include no-appearance;
        width: 1.35em;
        height: 1.35em;
        border: 1px solid #C4C4C4;
        background-color: #fff;
        border-radius: .25em;
        box-shadow: none;
        padding: 0px;
        margin: 0px;
        transition: $transition;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 0px;
            height: 130%;
            width: 130%;
            background-color: transparent;
            background-image: url(imgs/mark.svg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            transition: $transition;
            opacity: 0;
        }
        &:checked {
            border: 1px solid $color-2;
            &::before {
                opacity: 1;
            }
        }
    }
    &[type='file'] {
        padding: 0px;
        &::file-selector-button {
            color: #fff !important;
            background-color: $color-1 !important;
            height: 100% !important;
            padding: 1em 1.25em;
            float: unset;
            box-sizing: border-box;
            border: none;
            margin-right: 1em;
        }
        &::-webkit-file-upload-button, &::-ms-browse {
            color: #fff !important;
            background-color: $color-1 !important;
            height: 100% !important;
            padding: 1em 1.25em;
            float: unset;
            box-sizing: border-box;
            border: none;
            margin-right: 1em;
        }
    }
}
.form-control[type='file'] {
    background: #F6F6F6;
    border: none !important;
    border-radius: 4px;
    padding: 0px !important;
    width: 100%;
    line-height: normal;
    outline: none;
    display: block;
    transition: $transition;
    height: 3.2em;
    font-size: 1em;
    box-sizing: border-box;
    &::file-selector-button {
        color: #fff !important;
        background-color: $color-1 !important;
        height: 100% !important;
        padding: 1em 1.5em;
        float: unset;
        box-sizing: border-box;
    }
    &::-webkit-file-upload-button, &::-ms-browse {
        color: #fff !important;
        background-color: $color-1 !important;
        height: 100% !important;
        padding: 1em 1.5em;
        float: unset;
        box-sizing: border-box;
    }
}
label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    span {
        flex:1;
        margin-left: .6em;
    }
}

button {
    background: none;
    border: none;
    padding: unset;
    display: block;
    font-family: inherit;
    outline: none;
    color: inherit;
}
.btn {
    @include flex-center;
    padding: 0.8em 2em;
    text-align: center;
    transition: $transition;
    width: fit-content;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: $radius;
    &-1 {
        @extend .btn;
        color: #fff;
        background: $color-1;
        border: 1px solid $color-1;
        &:hover, &:focus {
            color: #fff;
            background: $color-1;
            border: 1px solid $color-1;
            box-shadow: 0px 0px .75em rgba($color: $color-4, $alpha: .3);
            animation: pulse .4s linear;
        }
        &:active {
            color: #fff;
            background: $color-2;
            border: 1px solid $color-2;
            box-shadow: none;
        }
    }
    &-2 {
        @extend .btn;
        color: $color-4;
        background: $color-3;
        border: 1px solid $color-3;
        &:hover, &:focus, &:active {
            color: $color-4;
            background: $color-3;
            border: 1px solid $color-3;
            box-shadow: 0px 0px .75em rgba($color: $color-4, $alpha: .3);
            animation: pulse .4s linear;
        }
        &:active {
            color: $color-4;
            background: $color-2;
            border: 1px solid $color-2;
            box-shadow: none;
        }
    }
    &-3 {
        @extend .btn;
        color: #fff;
        background: $color-2;
        border: 1px solid $color-2;
        &:hover, &:focus, &:active {
            color: #fff;
            background: $color-6;
            border: 1px solid $color-6;
            
        }
    }
    &-4 {
        @extend .btn;
        color: #fff;
        background: transparent;
        border: 1px solid #fff;
        text-transform: unset;
        &:hover, &:focus, &:active {
            color: $color-4;
            background: #fff;
            border: 1px solid #fff;
        }
    }
}
@keyframes pulse {
    0% {
        box-shadow: 0px 0px .75em rgba($color: $color-4, $alpha: .3);
    }
    50% {
        box-shadow: 0px 0px .75em rgba($color: $color-4, $alpha: .6);
    }
    100% {
        box-shadow: 0px 0px .75em rgba($color: $color-4, $alpha: .3);
    }
}


/* Text styles */
h1, .h1, h2, h3, h4, h5, h6 {
    color: $title-color;
    line-height: 100%;
}
h1, .h1 {
    text-align: left;
    font-size: 3.8em;
    font-weight: 600;
    margin-bottom: 1em;
}
h2 {
    text-align: left;
    font-size: 2.4em;
    font-weight: 700;
    margin-bottom: .5em;
    &::before {
        content: '⎯⎯⎯⎯';
        font-weight: 400;
        color: $color-4;
        margin-right: .5em;
    }
}
h3 {
    text-align: center;
    font-size: 1.25em;
    font-weight: 600;
}
h4 {
    text-align: left;
    font-size: 1.2em;
    font-weight: 400;
    color: $color-4;
    text-transform: uppercase;
    margin-bottom: 1em;
}
h5 {
    text-align: left;
    font-size: 1.25em;
    font-weight: 400;
    margin-bottom: 1em;
}
h6 {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 0px;
}
.fs {
    &-08 {font-size: 0.8em;}
    &-09 {font-size: 0.9em;}
    &-10 {font-size: 1em;}
    &-11 {font-size: 1.1em;}
    &-12 {font-size: 1.2em;}
    &-13 {font-size: 1.3em;}
    &-14 {font-size: 1.4em;}
    &-15 {font-size: 1.5em;}
    &-16 {font-size: 1.6em;}
    &-17 {font-size: 1.7em;}
    &-18 {font-size: 1.8em;}
    &-19 {font-size: 1.9em;}
    &-20 {font-size: 2em;}
    &-25 {font-size: 2.5em;}
    &-30 {font-size: 3em;}
    &-35 {font-size: 3.5em;}
    &-40 {font-size: 4em;}
}
.fw {
    &-3 {font-weight: 300;}
    &-4 {font-weight: 400;}
    &-5 {font-weight: 500;}
    &-6 {font-weight: 600;}
    &-7 {font-weight: 700;}
    &-8 {font-weight: 800;}
    &-9 {font-weight: 900;}
}
.color-2 {color: $color-2;}
.accent {color: $color-4;}
.script {font-family: $font-script;}
.gray {color: $gray;}

.container.custom-container {
    @media (min-width: 1680px){
        max-width: 1600px;
    }
}
.mb-8 {
    margin-bottom: 8em;
}


body {
    margin: 0;
    font-family: $main-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    font-weight: 400;
    color: $font-color;
    overflow-x: hidden;
    // @media (max-width: 1399px){
    //     --h2: 140px;
    // }
}

main {
    min-height: calc(100vh - var(--h-height) - var(--f-height));
}

header {
    position: relative;
    height: var(--h-height);
    nav.main {
        height: var(--h-height);
        ul {
            height: var(--h-height);
            display: flex;
            align-items: stretch;
            list-style: none;
            padding-left: 0px;
            li {
                &:not(:first-child){margin-left: 2.4em;}
                a {
                    @include flex-center();
                    height: 100%;
                    font-size: 1.25em;
                }
            }
        }
    }
    .services {
        position: absolute;
        top: 100%;
        left: 0px;
        width: 100%;
        height: auto;
        background-color: #fff;
        display: flex;
        align-items: stretch;
        nav {
            &.level-1 {
                width: 30%;
                background-color: #F6F6F6;
                padding: 3em 3em 3em 10%;
                ul {
                    list-style: none;
                    padding-left: 0px;
                    li {
                        a {
                            font-size: 1em;
                            font-weight: 400;
                            display: block;
                            padding: .75em 0;
                            display: flex;
                            justify-content: space-between;
                            &.active {
                                color: $color-2;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
            &.level-2 {
                width: 70%;
                padding: 3em 10% 3em 3em;
                ul {
                    list-style: none;
                    padding-left: 0px;
                    li {
                        a {
                            font-size: 1em;
                            font-weight: 400;
                            display: block;
                            padding: .75em 0;
                            // transition: $transition;
                            &.active {
                                color: $color-2;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }

    }
}


.sec-home-1 {
    h1 {
        color: #AAA8A8;
        font-size: 1.8em;
        font-weight: 300;
        text-align: left;
    }
}

.sec-home-2 {
    margin-top: -1em;
    .box {
        @include box();
        text-align: center;
        padding: 1.5em;
        .btn-2 {
            width: 90%;
            margin: 1em auto 0;
            padding: .5em 1em;
        }
    }
}


.sec-home-3 {
    background: url(imgs/bg/bg-1.svg) no-repeat;
    background-size: cover;
}
.service-card {
    @include box();
    overflow: hidden;
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    figcaption {
        padding: 1.3em;
        p {
            color: $gray;
            font-size: 1.1em;
            line-height: 120%;
        }
        .link {
            color: $color-4;
            font-size: 1.2em;
            margin-top: 1em;
            text-decoration: underline;
            text-decoration-thickness: 1px;
            display: block;
            text-align: center;
        }
    }
}


.sec-home-4 {
    position: relative;
    .bg {
        position: absolute;
        bottom: -3%;
        right: -3%;
    }
    ul {
        li {
            padding-left: 2.4em;
            position: relative;
            &::before {
                content: '▶';
                color: $color-2;
                font-size: 2em;
                position: absolute;
                top: 1em;
                left: 0em;

            }
            &:not(:first-child){
                margin-top: 2em;
            }
            h3 {
                margin-bottom: .75em;
                text-align: left;
            }
        }
    }
    .team-imgs {
        position: relative;
        svg {
            width: 100%;
        }
        h3 {
            position: absolute;
            z-index: 5;
            bottom: 0px;
            left: 48%;
            font-family: $font-script;
            font-size: 3em;
            font-weight: 400;
            color: $gray;
            transform: translateX(-50%);
        }
    }
    .about-slider {
        margin-top: -100px;
        width: calc(100% + 200px);
        margin-left: -150px;
        .swiper-button-prev {
            top: 60%;
            left: 18%;
        }
        .swiper-button-next {
            top: 60%;
            right: 32%;
        }
    }
}

.swiper {
    position: unset;
    &-button {
        background-color: #fff;
        width: 4em;
        height: 4em;
        border-radius: 50%;
        box-shadow: 4px 4px 17px rgba(0, 0, 0, 0.18);
        @include flex-center();
        margin-top: 0px;
        transform: translateY(-50%);
        transition: $transition;
        &-next {
            @extend .swiper-button;
            right: -2em;
        }
        &-prev {
            @extend .swiper-button;
            left: -2em;
        }
        &::after {
            color: $color-1;
            font-weight: 700;
            font-size: 1.25em;
            line-height: 1.2em;
        }
        &:hover, &:focus {
            background-color: $color-1;
            &::after {
                color: #fff;
            }
        }
        &:active {
            background-color: $color-4;
            &::after {
                color: #fff;
            }
        }
    }
    // &-button-next, &-button-prev {
    //     background-color: #fff;
    //     width: 4em;
    //     height: 4em;
    //     border-radius: 50%;
    //     box-shadow: 4px 4px 17px rgba(0, 0, 0, 0.18);
    //     @include flex-center();
    //     &::after {
    //         color: $color-1;
    //         font-weight: 700;
    //         font-size: 1.25em;
    //         line-height: 1.2em;
    //     }
    // }
}

.offer {
    border: 3px solid $color-4;
    border-radius: 1.25em;
    padding: .2em;
    position: relative;
    img {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 450px;
        object-fit: cover;
        border-radius: 1.25em;
    }
    figcaption {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 2;
        width: 100%;
        height: 100%;
        padding: 3em 2em;
        color: #fff;
        h2 {
            color: #fff;
            font-size: 1.8em;
            font-weight: 800;
            text-transform: uppercase;
            text-align: left;
            &::before {content: unset;}
        }
        h4 {
            color: #fff;
            text-align: left;
            line-height: 120%;
        }
        .accent-1 {color: $color-4;}
        .accent-2 {color: $color-5;}
    }
}


.sec-home-6 {
    position: relative;
    overflow: hidden;
    padding-bottom: 5%;
    .bg-sec {
        position: absolute;
        z-index: 10;
        bottom: 0;
        left: calc(44% + var(--w-cont)/2);
        width: 12%;
    }
    .imgs {
        position: relative;
        filter: drop-shadow(.75em .75em 1em rgba(0, 0, 0, .35));
        .bg {
            position: relative;
            z-index: 1;
            width: 100%;
        }
        .logo {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            width: 50%;
            height: 25%;
            transform: translate(-50%, -50%);
        }
    }
    .form {
        background: #FFFFFF;
        box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.07);
        .top {
            display: flex;
            align-items: stretch;
            justify-content: center;
            button {
                background-color: #F4F4F4;
                color: #AAA8A8;
                flex: 1;
                padding: 1em;
                font-size: 1.1em;
                border-radius: 6px 6px 0 0;
                @include flex-center();
                .indicator {
                    width: 1.2em;
                    height: 1.2em;
                    background-color: #fff;
                    border: 1px solid #C4C4C4;
                    border-radius: 50%;
                    margin-right: .5em;
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 5%;
                        left: 10%;
                        height: 120%;
                        width: 120%;
                        background-color: transparent;
                        background-image: url(imgs/mark.svg);
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: contain;
                        transition: $transition;
                        opacity: 0;
                    }
                }
                &.active {
                    background-color: $color-2;
                    color: #fff;
                    .indicator {
                        border: 1px solid $color-6;
                        &::before {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        form {
            padding: 2em;
        }
    }
}



article.preview {
    position: relative;
    overflow: hidden;
    border-radius: 2em;
    &:hover {
        figcaption {
            top: 0%;
            background-color: rgba($color: $color-1, $alpha: 1);
            animation: .5s showFull;
            padding-top: 6em;
            .bottom {
                .btn-4 {
                    display: block;
                    opacity: 1;
                }
            }
        }
    }
    figure {
        position: relative;
        z-index: 1;
        img {
            position: relative;
            width: 100%;
            height: 450px;
            z-index: 1;
        }
        figcaption {
            position: absolute;
            top: 70%;
            bottom: 0px;
            left: 0px;
            width: 100%;
            z-index: 2;
            background-color: rgba($color: $color-1, $alpha: .84);
            color: #fff;
            padding: 1.25em 1.5em 1em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            animation: .5s showLess;
            h5 {
                color: #fff;
                margin-bottom: 0px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                line-height: 1em;
                height: 2em;
            }
            .bottom {
                position: relative;
                .btn-4 {
                    position: absolute;
                    z-index: 2;
                    bottom: 200%;
                    left: 15%;
                    display: none;
                    font-size: .9em;
                    margin: 1em auto;
                    width: 70%;
                    opacity: 0;
                }
                ul {
                    position: relative;
                    z-index: 1;
                    list-style: none;
                    padding-left: 0px;
                    display: flex;
                    align-items: center;
                    font-size: .9em;
                    li {
                        @include flex-center();
                        &:not(:first-child) {
                            margin-left: 2em;
                        }
                        span {
                            font-weight: 300;
                            margin-left: .5em;
                            color: #E7E7E7;
                        }
                    }
                }
            }
        }
    }
    .tags {
        list-style: none;
        padding: 0px;
        position: absolute;
        z-index: 2;
        top: 1em;
        left: 0px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        li {
            background-color: $color-6;
            color: #fff;
            font-size: .9em;
            font-weight: 500;
            padding: .5em .75em;
            margin-right: .75em;
            margin-bottom: .5em;
        } 
    }
}
@keyframes showFull {
    from {
      top: 70%;
      background-color: rgba($color: $color-1, $alpha: .84);
      padding-top: 1.25em;
    }
    to {
      top: 0%;
      background-color: rgba($color: $color-1, $alpha: 1);
      padding-top: 6em;
    }
}
@keyframes showLess {
    from {
      top: 0%;
      background-color: rgba($color: $color-1, $alpha: 1);
      padding-top: 6em;
    }
    to {
      top: 70%;
      background-color: rgba($color: $color-1, $alpha: .84);
      padding-top: 1.25em;
    }
}

footer {
    height: var(--f-height);
    background-color: #131313;
    color: rgba($color: #fff, $alpha: .83);
    font-size: .9em;
    .social {
        @include flex-center();
        list-style: none;
        padding-left: 0px;
        li {
            &:not(:first-child){margin-left: .6em;}
            a {
                opacity: .8;
                transition: $transition;
                &:hover, &:focus, &:active {
                    opacity: 1;
                }
                img {
                    width: 2em;
                    height: 2em;
                }
            }
        }
    }
    address {
        ul {
            li:not(:first-child){margin-top: 1em;}
        }
    }
}