@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --h-height: 100px;
  --f-height: 240px;
  --w-cont: 1600px;
}
@media (max-width: 1679px) {
  :root {
    --w-cont: 1320px;
  }
}
@media (max-width: 1399px) {
  :root {
    --w-cont: 1140px;
  }
}
@media (max-width: 1199px) {
  :root {
    --w-cont: 960px;
  }
}
@media (max-width: 991px) {
  :root {
    --w-cont: 720px;
  }
}
@media (max-width: 767px) {
  :root {
    --w-cont: 540px;
  }
}
@media (max-width: 575px) {
  :root {
    --w-cont: 100%;
  }
}

/* mixins */
a, a:hover, a:focus, a:active {
  color: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

p, label, span, a, button, form, fieldset, legend, select, input, textarea, button, div, blockquote, cite, figure, figcaption, table, ul, ol, dl, address {
  line-height: 100%;
  margin-bottom: 0px;
}

/* Form elements */
input, textarea {
  background: #F6F6F6;
  border: none;
  border-radius: 4px;
  padding: 1em 1.5em;
  width: 100%;
  line-height: normal;
  outline: none;
  display: block;
  transition: 0.3s ease;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #B7B7B7;
  font-weight: 400;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #B7B7B7;
  font-weight: 400;
}
input::placeholder, textarea::placeholder {
  color: #B7B7B7;
  font-weight: 400;
}

input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
  width: 1.35em;
  height: 1.35em;
  border: 1px solid #C4C4C4;
  background-color: #fff;
  border-radius: 0.25em;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  transition: 0.3s ease;
  position: relative;
}
input[type=checkbox]::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 130%;
  width: 130%;
  background-color: transparent;
  background-image: url(imgs/mark.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transition: 0.3s ease;
  opacity: 0;
}
input[type=checkbox]:checked {
  border: 1px solid #F8AA4E;
}
input[type=checkbox]:checked::before {
  opacity: 1;
}
input[type=file] {
  padding: 0px;
}
input[type=file]::-webkit-file-upload-button {
  color: #fff !important;
  background-color: #B479F8 !important;
  height: 100% !important;
  padding: 1em 1.25em;
  float: unset;
  box-sizing: border-box;
  border: none;
  margin-right: 1em;
}
input[type=file]::file-selector-button {
  color: #fff !important;
  background-color: #B479F8 !important;
  height: 100% !important;
  padding: 1em 1.25em;
  float: unset;
  box-sizing: border-box;
  border: none;
  margin-right: 1em;
}
input[type=file]::-webkit-file-upload-button, input[type=file]::-ms-browse {
  color: #fff !important;
  background-color: #B479F8 !important;
  height: 100% !important;
  padding: 1em 1.25em;
  float: unset;
  box-sizing: border-box;
  border: none;
  margin-right: 1em;
}

.form-control[type=file] {
  background: #F6F6F6;
  border: none !important;
  border-radius: 4px;
  padding: 0px !important;
  width: 100%;
  line-height: normal;
  outline: none;
  display: block;
  transition: 0.3s ease;
  height: 3.2em;
  font-size: 1em;
  box-sizing: border-box;
}
.form-control[type=file]::-webkit-file-upload-button {
  color: #fff !important;
  background-color: #B479F8 !important;
  height: 100% !important;
  padding: 1em 1.5em;
  float: unset;
  box-sizing: border-box;
}
.form-control[type=file]::file-selector-button {
  color: #fff !important;
  background-color: #B479F8 !important;
  height: 100% !important;
  padding: 1em 1.5em;
  float: unset;
  box-sizing: border-box;
}
.form-control[type=file]::-webkit-file-upload-button, .form-control[type=file]::-ms-browse {
  color: #fff !important;
  background-color: #B479F8 !important;
  height: 100% !important;
  padding: 1em 1.5em;
  float: unset;
  box-sizing: border-box;
}

label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
label span {
  flex: 1;
  margin-left: 0.6em;
}

button {
  background: none;
  border: none;
  padding: unset;
  display: block;
  font-family: inherit;
  outline: none;
  color: inherit;
}

.btn, .btn-4, .btn-3, .btn-2, .btn-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 2em;
  text-align: center;
  transition: 0.3s ease;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 10px;
}
.btn-1 {
  color: #fff;
  background: #B479F8;
  border: 1px solid #B479F8;
}
.btn-1:hover, .btn-1:focus {
  color: #fff;
  background: #B479F8;
  border: 1px solid #B479F8;
  box-shadow: 0px 0px 0.75em rgba(154, 74, 246, 0.3);
  -webkit-animation: pulse 0.4s linear;
          animation: pulse 0.4s linear;
}
.btn-1:active {
  color: #fff;
  background: #F8AA4E;
  border: 1px solid #F8AA4E;
  box-shadow: none;
}
.btn-2 {
  color: #9A4AF6;
  background: #E0C8FC;
  border: 1px solid #E0C8FC;
}
.btn-2:hover, .btn-2:focus, .btn-2:active {
  color: #9A4AF6;
  background: #E0C8FC;
  border: 1px solid #E0C8FC;
  box-shadow: 0px 0px 0.75em rgba(154, 74, 246, 0.3);
  -webkit-animation: pulse 0.4s linear;
          animation: pulse 0.4s linear;
}
.btn-2:active {
  color: #9A4AF6;
  background: #F8AA4E;
  border: 1px solid #F8AA4E;
  box-shadow: none;
}
.btn-3 {
  color: #fff;
  background: #F8AA4E;
  border: 1px solid #F8AA4E;
}
.btn-3:hover, .btn-3:focus, .btn-3:active {
  color: #fff;
  background: #F5A23F;
  border: 1px solid #F5A23F;
}
.btn-4 {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  text-transform: unset;
}
.btn-4:hover, .btn-4:focus, .btn-4:active {
  color: #9A4AF6;
  background: #fff;
  border: 1px solid #fff;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0px 0px 0.75em rgba(154, 74, 246, 0.3);
  }
  50% {
    box-shadow: 0px 0px 0.75em rgba(154, 74, 246, 0.6);
  }
  100% {
    box-shadow: 0px 0px 0.75em rgba(154, 74, 246, 0.3);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 0.75em rgba(154, 74, 246, 0.3);
  }
  50% {
    box-shadow: 0px 0px 0.75em rgba(154, 74, 246, 0.6);
  }
  100% {
    box-shadow: 0px 0px 0.75em rgba(154, 74, 246, 0.3);
  }
}
/* Text styles */
h1, .h1, h2, h3, h4, h5, h6 {
  color: #000;
  line-height: 100%;
}

h1, .h1 {
  text-align: left;
  font-size: 3.8em;
  font-weight: 600;
  margin-bottom: 1em;
}

h2 {
  text-align: left;
  font-size: 2.4em;
  font-weight: 700;
  margin-bottom: 0.5em;
}
h2::before {
  content: "⎯⎯⎯⎯";
  font-weight: 400;
  color: #9A4AF6;
  margin-right: 0.5em;
}

h3 {
  text-align: center;
  font-size: 1.25em;
  font-weight: 600;
}

h4 {
  text-align: left;
  font-size: 1.2em;
  font-weight: 400;
  color: #9A4AF6;
  text-transform: uppercase;
  margin-bottom: 1em;
}

h5 {
  text-align: left;
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: 1em;
}

h6 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0px;
}

.fs-08 {
  font-size: 0.8em;
}
.fs-09 {
  font-size: 0.9em;
}
.fs-10 {
  font-size: 1em;
}
.fs-11 {
  font-size: 1.1em;
}
.fs-12 {
  font-size: 1.2em;
}
.fs-13 {
  font-size: 1.3em;
}
.fs-14 {
  font-size: 1.4em;
}
.fs-15 {
  font-size: 1.5em;
}
.fs-16 {
  font-size: 1.6em;
}
.fs-17 {
  font-size: 1.7em;
}
.fs-18 {
  font-size: 1.8em;
}
.fs-19 {
  font-size: 1.9em;
}
.fs-20 {
  font-size: 2em;
}
.fs-25 {
  font-size: 2.5em;
}
.fs-30 {
  font-size: 3em;
}
.fs-35 {
  font-size: 3.5em;
}
.fs-40 {
  font-size: 4em;
}

.fw-3 {
  font-weight: 300;
}
.fw-4 {
  font-weight: 400;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 600;
}
.fw-7 {
  font-weight: 700;
}
.fw-8 {
  font-weight: 800;
}
.fw-9 {
  font-weight: 900;
}

.color-2 {
  color: #F8AA4E;
}

.accent {
  color: #9A4AF6;
}

.script {
  font-family: "Brush";
}

.gray {
  color: #636363;
}

@media (min-width: 1680px) {
  .container.custom-container {
    max-width: 1600px;
  }
}

.mb-8 {
  margin-bottom: 8em;
}

body {
  margin: 0;
  font-family: "Rubik";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  font-weight: 400;
  color: #181818;
  overflow-x: hidden;
}

main {
  min-height: calc(100vh - var(--h-height) - var(--f-height));
}

header {
  position: relative;
  height: var(--h-height);
}
header nav.main {
  height: var(--h-height);
}
header nav.main ul {
  height: var(--h-height);
  display: flex;
  align-items: stretch;
  list-style: none;
  padding-left: 0px;
}
header nav.main ul li:not(:first-child) {
  margin-left: 2.4em;
}
header nav.main ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.25em;
}
header .services {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  align-items: stretch;
}
header .services nav.level-1 {
  width: 30%;
  background-color: #F6F6F6;
  padding: 3em 3em 3em 10%;
}
header .services nav.level-1 ul {
  list-style: none;
  padding-left: 0px;
}
header .services nav.level-1 ul li a {
  font-size: 1em;
  font-weight: 400;
  display: block;
  padding: 0.75em 0;
  display: flex;
  justify-content: space-between;
}
header .services nav.level-1 ul li a.active {
  color: #F8AA4E;
  font-weight: 600;
}
header .services nav.level-2 {
  width: 70%;
  padding: 3em 10% 3em 3em;
}
header .services nav.level-2 ul {
  list-style: none;
  padding-left: 0px;
}
header .services nav.level-2 ul li a {
  font-size: 1em;
  font-weight: 400;
  display: block;
  padding: 0.75em 0;
}
header .services nav.level-2 ul li a.active {
  color: #F8AA4E;
  font-weight: 600;
}

.sec-home-1 h1 {
  color: #AAA8A8;
  font-size: 1.8em;
  font-weight: 300;
  text-align: left;
}

.sec-home-2 {
  margin-top: -1em;
}
.sec-home-2 .box {
  background: #FFFFFF;
  box-shadow: 4px 7px 20px rgba(0, 0, 0, 0.14);
  border-radius: 1em;
  text-align: center;
  padding: 1.5em;
}
.sec-home-2 .box hr {
  height: 4px;
  width: 60%;
  margin: 1em auto;
  border: none;
  background-color: #F8AA4E;
  opacity: 1;
}
.sec-home-2 .box .btn-2 {
  width: 90%;
  margin: 1em auto 0;
  padding: 0.5em 1em;
}

.sec-home-3 {
  background: url(imgs/bg/bg-1.svg) no-repeat;
  background-size: cover;
}

.service-card {
  background: #FFFFFF;
  box-shadow: 4px 7px 20px rgba(0, 0, 0, 0.14);
  border-radius: 1em;
  overflow: hidden;
}
.service-card hr {
  height: 4px;
  width: 60%;
  margin: 1em auto;
  border: none;
  background-color: #F8AA4E;
  opacity: 1;
}
.service-card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.service-card figcaption {
  padding: 1.3em;
}
.service-card figcaption p {
  color: #636363;
  font-size: 1.1em;
  line-height: 120%;
}
.service-card figcaption .link {
  color: #9A4AF6;
  font-size: 1.2em;
  margin-top: 1em;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  display: block;
  text-align: center;
}

.sec-home-4 {
  position: relative;
}
.sec-home-4 .bg {
  position: absolute;
  bottom: -3%;
  right: -3%;
}
.sec-home-4 ul li {
  padding-left: 2.4em;
  position: relative;
}
.sec-home-4 ul li::before {
  content: "▶";
  color: #F8AA4E;
  font-size: 2em;
  position: absolute;
  top: 1em;
  left: 0em;
}
.sec-home-4 ul li:not(:first-child) {
  margin-top: 2em;
}
.sec-home-4 ul li h3 {
  margin-bottom: 0.75em;
  text-align: left;
}
.sec-home-4 .team-imgs {
  position: relative;
}
.sec-home-4 .team-imgs svg {
  width: 100%;
}
.sec-home-4 .team-imgs h3 {
  position: absolute;
  z-index: 5;
  bottom: 0px;
  left: 48%;
  font-family: "Brush";
  font-size: 3em;
  font-weight: 400;
  color: #636363;
  transform: translateX(-50%);
}
.sec-home-4 .about-slider {
  margin-top: -100px;
  width: calc(100% + 200px);
  margin-left: -150px;
}
.sec-home-4 .about-slider .swiper-button-prev {
  top: 60%;
  left: 18%;
}
.sec-home-4 .about-slider .swiper-button-next {
  top: 60%;
  right: 32%;
}

.swiper {
  position: unset;
}
.swiper-button, .swiper-button-prev, .swiper-button-next {
  background-color: #fff;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  box-shadow: 4px 4px 17px rgba(0, 0, 0, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  transform: translateY(-50%);
  transition: 0.3s ease;
}
.swiper-button-next {
  right: -2em;
}
.swiper-button-prev {
  left: -2em;
}
.swiper-button::after, .swiper-button-next::after, .swiper-button-prev::after {
  color: #B479F8;
  font-weight: 700;
  font-size: 1.25em;
  line-height: 1.2em;
}
.swiper-button:hover, .swiper-button-next:hover, .swiper-button-prev:hover, .swiper-button:focus, .swiper-button-next:focus, .swiper-button-prev:focus {
  background-color: #B479F8;
}
.swiper-button:hover::after, .swiper-button-next:hover::after, .swiper-button-prev:hover::after, .swiper-button:focus::after, .swiper-button-next:focus::after, .swiper-button-prev:focus::after {
  color: #fff;
}
.swiper-button:active, .swiper-button-next:active, .swiper-button-prev:active {
  background-color: #9A4AF6;
}
.swiper-button:active::after, .swiper-button-next:active::after, .swiper-button-prev:active::after {
  color: #fff;
}

.offer {
  border: 3px solid #9A4AF6;
  border-radius: 1.25em;
  padding: 0.2em;
  position: relative;
}
.offer img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.25em;
}
.offer figcaption {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 3em 2em;
  color: #fff;
}
.offer figcaption h2 {
  color: #fff;
  font-size: 1.8em;
  font-weight: 800;
  text-transform: uppercase;
  text-align: left;
}
.offer figcaption h2::before {
  content: unset;
}
.offer figcaption h4 {
  color: #fff;
  text-align: left;
  line-height: 120%;
}
.offer figcaption .accent-1 {
  color: #9A4AF6;
}
.offer figcaption .accent-2 {
  color: #FF65E8;
}

.sec-home-6 {
  position: relative;
  overflow: hidden;
  padding-bottom: 5%;
}
.sec-home-6 .bg-sec {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: calc(44% + var(--w-cont) / 2);
  width: 12%;
}
.sec-home-6 .imgs {
  position: relative;
  filter: drop-shadow(0.75em 0.75em 1em rgba(0, 0, 0, 0.35));
}
.sec-home-6 .imgs .bg {
  position: relative;
  z-index: 1;
  width: 100%;
}
.sec-home-6 .imgs .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 50%;
  height: 25%;
  transform: translate(-50%, -50%);
}
.sec-home-6 .form {
  background: #FFFFFF;
  box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.07);
}
.sec-home-6 .form .top {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
.sec-home-6 .form .top button {
  background-color: #F4F4F4;
  color: #AAA8A8;
  flex: 1;
  padding: 1em;
  font-size: 1.1em;
  border-radius: 6px 6px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-home-6 .form .top button .indicator {
  width: 1.2em;
  height: 1.2em;
  background-color: #fff;
  border: 1px solid #C4C4C4;
  border-radius: 50%;
  margin-right: 0.5em;
  position: relative;
}
.sec-home-6 .form .top button .indicator::before {
  content: "";
  position: absolute;
  bottom: 5%;
  left: 10%;
  height: 120%;
  width: 120%;
  background-color: transparent;
  background-image: url(imgs/mark.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  transition: 0.3s ease;
  opacity: 0;
}
.sec-home-6 .form .top button.active {
  background-color: #F8AA4E;
  color: #fff;
}
.sec-home-6 .form .top button.active .indicator {
  border: 1px solid #F5A23F;
}
.sec-home-6 .form .top button.active .indicator::before {
  opacity: 1;
}
.sec-home-6 .form form {
  padding: 2em;
}

article.preview {
  position: relative;
  overflow: hidden;
  border-radius: 2em;
}
article.preview:hover figcaption {
  top: 0%;
  background-color: #b479f8;
  -webkit-animation: 0.5s showFull;
          animation: 0.5s showFull;
  padding-top: 6em;
}
article.preview:hover figcaption .bottom .btn-4 {
  display: block;
  opacity: 1;
}
article.preview figure {
  position: relative;
  z-index: 1;
}
article.preview figure img {
  position: relative;
  width: 100%;
  height: 450px;
  z-index: 1;
}
article.preview figure figcaption {
  position: absolute;
  top: 70%;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
  background-color: rgba(180, 121, 248, 0.84);
  color: #fff;
  padding: 1.25em 1.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-animation: 0.5s showLess;
          animation: 0.5s showLess;
}
article.preview figure figcaption h5 {
  color: #fff;
  margin-bottom: 0px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1em;
  height: 2em;
}
article.preview figure figcaption .bottom {
  position: relative;
}
article.preview figure figcaption .bottom .btn-4 {
  position: absolute;
  z-index: 2;
  bottom: 200%;
  left: 15%;
  display: none;
  font-size: 0.9em;
  margin: 1em auto;
  width: 70%;
  opacity: 0;
}
article.preview figure figcaption .bottom ul {
  position: relative;
  z-index: 1;
  list-style: none;
  padding-left: 0px;
  display: flex;
  align-items: center;
  font-size: 0.9em;
}
article.preview figure figcaption .bottom ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
article.preview figure figcaption .bottom ul li:not(:first-child) {
  margin-left: 2em;
}
article.preview figure figcaption .bottom ul li span {
  font-weight: 300;
  margin-left: 0.5em;
  color: #E7E7E7;
}
article.preview .tags {
  list-style: none;
  padding: 0px;
  position: absolute;
  z-index: 2;
  top: 1em;
  left: 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
article.preview .tags li {
  background-color: #F5A23F;
  color: #fff;
  font-size: 0.9em;
  font-weight: 500;
  padding: 0.5em 0.75em;
  margin-right: 0.75em;
  margin-bottom: 0.5em;
}

@-webkit-keyframes showFull {
  from {
    top: 70%;
    background-color: rgba(180, 121, 248, 0.84);
    padding-top: 1.25em;
  }
  to {
    top: 0%;
    background-color: #b479f8;
    padding-top: 6em;
  }
}

@keyframes showFull {
  from {
    top: 70%;
    background-color: rgba(180, 121, 248, 0.84);
    padding-top: 1.25em;
  }
  to {
    top: 0%;
    background-color: #b479f8;
    padding-top: 6em;
  }
}
@-webkit-keyframes showLess {
  from {
    top: 0%;
    background-color: #b479f8;
    padding-top: 6em;
  }
  to {
    top: 70%;
    background-color: rgba(180, 121, 248, 0.84);
    padding-top: 1.25em;
  }
}
@keyframes showLess {
  from {
    top: 0%;
    background-color: #b479f8;
    padding-top: 6em;
  }
  to {
    top: 70%;
    background-color: rgba(180, 121, 248, 0.84);
    padding-top: 1.25em;
  }
}
footer {
  height: var(--f-height);
  background-color: #131313;
  color: rgba(255, 255, 255, 0.83);
  font-size: 0.9em;
}
footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0px;
}
footer .social li:not(:first-child) {
  margin-left: 0.6em;
}
footer .social li a {
  opacity: 0.8;
  transition: 0.3s ease;
}
footer .social li a:hover, footer .social li a:focus, footer .social li a:active {
  opacity: 1;
}
footer .social li a img {
  width: 2em;
  height: 2em;
}
footer address ul li:not(:first-child) {
  margin-top: 1em;
}/*# sourceMappingURL=style.css.map */