@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
:root {
  --h-height: 76px;
  --f-height: 100px;
}

@media (max-width: 991px) {
  :root {
    --h-height: 65px;
  }
}

:root[data-theme='light'] {
  --body-bg: #fff;
  --bg: #fff;
  --bg-invert: #060606;
  --switcher-bg: #EDEDED;
  --accent-color: #B9FF4A;
  --accent-color-invert: #0433FF;
  --faded: #4F4F4F;
  --invert: invert(0);
}

:root[data-theme='dark'] {
  --body-bg: #151515;
  --bg: #151515;
  --bg-invert: #fff;
  --switcher-bg: #FFFFFF;
  --accent-color: #0433FF;
  --accent-color-invert: #B9FF4A;
  --faded: #c9c9c9;
  --invert: invert(1);
}

/* mixins */
/* Typography */
a, a:hover, a:focus, a:active {
  color: inherit;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, label, span, a, button, form, fieldset, legend, select, input, textarea, button, div, blockquote, cite, figure, figcaption, table, ul, ol, dl, address {
  line-height: 100%;
  margin-bottom: 0px;
}

h1, h2 {
  text-align: left;
  font-size: 3.8em;
  line-height: 130%;
  font-weight: 600;
  margin-bottom: 1em;
}

@media (max-width: 1399px) {
  h1, h2 {
    font-size: 3.2em;
  }
}

@media (max-width: 1199px) {
  h1, h2 {
    font-size: 3em;
    margin-bottom: .7em;
  }
}

@media (max-width: 1199px) {
  h1, h2 {
    font-size: 2.75em;
  }
}

h3 {
  text-align: left;
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 1em;
}

@media (max-width: 991px) {
  h3 {
    font-size: 2em;
  }
}

h4 {
  text-align: left;
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 1em;
}

h5 {
  text-align: left;
  font-size: 1.25em;
  font-weight: 400;
  margin-bottom: 1em;
}

h6 {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0px;
}

.fs-08 {
  font-size: 0.8em;
}

.fs-09 {
  font-size: 0.9em;
}

.fs-10 {
  font-size: 1em;
}

.fs-11 {
  font-size: 1.1em;
}

.fs-12 {
  font-size: 1.2em;
}

.fs-13 {
  font-size: 1.3em;
}

.fs-14 {
  font-size: 1.4em;
}

.fs-15 {
  font-size: 1.5em;
}

.fs-16 {
  font-size: 1.6em;
}

.fs-17 {
  font-size: 1.7em;
}

.fs-18 {
  font-size: 1.8em;
}

.fs-19 {
  font-size: 1.9em;
}

.fs-20 {
  font-size: 2em;
}

.fs-25 {
  font-size: 2.5em;
}

.fs-30 {
  font-size: 3em;
}

.fs-35 {
  font-size: 3.5em;
}

.fs-40 {
  font-size: 4em;
}

.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

.fw-9 {
  font-weight: 900;
}

.color-2 {
  color: #B9FF4A;
}

.gray {
  color: #636363;
}

.d-gray {
  color: #4F4F4F;
}

/* Form elements */
input, textarea {
  background: #F6F6F6;
  border: none;
  border-radius: 4px;
  padding: 1em 1.5em;
  width: 100%;
  line-height: normal;
  outline: none;
  display: block;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #B7B7B7;
  font-weight: 400;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #B7B7B7;
  font-weight: 400;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #B7B7B7;
  font-weight: 400;
}

input::placeholder, textarea::placeholder {
  color: #B7B7B7;
  font-weight: 400;
}

input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  outline: none;
  width: 1.35em;
  height: 1.35em;
  border: 1px solid #C4C4C4;
  background-color: #fff;
  border-radius: .25em;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0px;
  margin: 0px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: relative;
}

input[type='checkbox']::before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 130%;
  width: 130%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0;
}

input[type='checkbox']:checked {
  border: 1px solid #B9FF4A;
}

input[type='checkbox']:checked::before {
  opacity: 1;
}

input[type='file'] {
  padding: 0px;
}

input[type='file']::file-selector-button {
  color: #fff !important;
  background-color: #0433FF !important;
  height: 100% !important;
  padding: 1em 1.25em;
  float: unset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  margin-right: 1em;
}

input[type='file']::-webkit-file-upload-button, input[type='file']::-ms-browse {
  color: #fff !important;
  background-color: #0433FF !important;
  height: 100% !important;
  padding: 1em 1.25em;
  float: unset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  margin-right: 1em;
}

.form-control[type='file'] {
  background: #F6F6F6;
  border: none !important;
  border-radius: 4px;
  padding: 0px !important;
  width: 100%;
  line-height: normal;
  outline: none;
  display: block;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  height: 3.2em;
  font-size: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-control[type='file']::file-selector-button {
  color: #fff !important;
  background-color: #0433FF !important;
  height: 100% !important;
  padding: 1em 1.5em;
  float: unset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-control[type='file']::-webkit-file-upload-button, .form-control[type='file']::-ms-browse {
  color: #fff !important;
  background-color: #0433FF !important;
  height: 100% !important;
  padding: 1em 1.5em;
  float: unset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

label span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: .6em;
}

button {
  background: none;
  border: none;
  padding: unset;
  display: block;
  font-family: inherit;
  outline: none;
  color: inherit;
}

.btn, .btn-1, .btn-2, .btn-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: .75em 1.4em;
  text-align: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1em;
  font-weight: 400;
  border-radius: 1.6em;
  border: 2px solid;
}

.btn-1 {
  color: var(--bg);
  background: transparent;
  border-color: var(--accent-color);
}

.btn-1:hover, .btn-1:focus {
  color: var(--bg-invert);
  background: var(--accent-color);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-1:active {
  color: var(--bg-invert);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 0px 10px var(--accent-color);
          box-shadow: 0px 0px 10px var(--accent-color);
}

.btn-2 {
  color: #fff;
  background: #0433FF;
  border-color: #0433FF;
}

.btn-2:hover, .btn-2:focus {
  color: #fff;
  -webkit-box-shadow: 0px 0px 10px #0433FF;
          box-shadow: 0px 0px 10px #0433FF;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-2:active {
  color: #fff;
  background: #557AFF;
  border-color: #557AFF;
  -webkit-box-shadow: 0px 0px 10px #0433FF;
          box-shadow: 0px 0px 10px #0433FF;
}

.btn-3 {
  color: #000;
  background: #B9FF4A;
  border-color: #B9FF4A;
}

.btn-3:hover, .btn-3:focus {
  color: #000;
  -webkit-box-shadow: 0px 0px 10px #B9FF4A;
          box-shadow: 0px 0px 10px #B9FF4A;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-3:active {
  color: #fff;
  background: #557AFF;
  -webkit-box-shadow: 0px 0px 10px #0433FF;
          box-shadow: 0px 0px 10px #0433FF;
}

/* Blocks */
.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 1680px) {
  .container.custom-container {
    max-width: 1600px;
  }
}

@media (min-width: 1850px) {
  .container.custom-container {
    max-width: 1780px;
  }
}

.mb-45 {
  margin-bottom: 4.5em;
}

.themes-switcher input {
  width: 30px;
  height: 10px;
  background-color: var(--switcher-bg);
  border-radius: 5px;
  border: none;
}

.themes-switcher input::before {
  content: '';
  top: 0px;
  left: 0px;
  width: 10px;
  height: 100%;
  border-radius: 50%;
  background-image: url(imgs/icons/sun.svg);
  background-color: transparent;
  -webkit-transform: scale(2.6);
          transform: scale(2.6);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 1;
}

.themes-switcher input:checked {
  border: none;
}

.themes-switcher input:checked::before {
  left: 20px;
  background-image: url(imgs/icons/moon.svg);
}

.lang-switcher {
  position: relative;
}

.lang-switcher button {
  width: 100%;
  border-radius: 5px;
  background-color: var(--bg-invert);
  color: var(--bg);
  font-size: 1em;
  padding: .1em .2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transition: border-radius .1s linear;
  transition: border-radius .1s linear;
}

.lang-switcher button svg {
  font-size: .7em;
  margin-left: .1em;
}

.lang-switcher ul {
  list-style: none;
  padding-left: 0px;
  background-color: var(--bg-invert);
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-radius: 0 0 5px 5px;
}

.lang-switcher ul li {
  width: 100%;
  margin: 0px !important;
}

.lang-switcher.opened > button {
  border-radius: 5px 5px 0 0;
}

.logo {
  width: 71px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

body {
  margin: 0;
  font-family: "Source Sans Pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  font-weight: 400;
  background-color: var(--body-bg);
  color: var(--bg-invert);
  overflow-x: hidden;
}

@media (max-width: 1849px) {
  body {
    font-size: 22px;
  }
}

@media (max-width: 1679px) {
  body {
    font-size: 20px;
  }
}

@media (max-width: 1399px) {
  body {
    font-size: 18px;
  }
}

@media (max-width: 1199px) {
  body {
    font-size: 16px;
  }
}

main {
  min-height: calc(100vh - var(--h-height) - var(--f-height));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

header {
  position: relative;
  height: var(--h-height);
}

header nav.main {
  height: var(--h-height);
}

header nav.main ul {
  height: var(--h-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  list-style: none;
  padding-left: 0px;
}

header nav.main ul li:not(:first-child) {
  margin-left: 2.4em;
}

@media (max-width: 1399px) {
  header nav.main ul li:not(:first-child) {
    margin-left: 1.75em;
  }
}

@media (max-width: 1199px) {
  header nav.main ul li:not(:first-child) {
    margin-left: 1.2em;
  }
}

header nav.main ul li a, header nav.main ul li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100%;
  font-size: 1em;
}

header .right {
  list-style: none;
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header .right li:not(:first-child) {
  margin-left: 2em;
}

header .right .menu {
  color: var(--faded);
  font-size: 1.75em;
}

.sec-home-1 {
  background-color: var(--bg-invert);
  border-radius: 0.8em;
  padding: 7% 7% 14%;
  min-height: calc(100vh - var(--h-height));
  color: var(--bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 1679px) {
  .sec-home-1 {
    padding: 6% 5% 12%;
  }
}

@media (max-width: 991px) {
  .sec-home-1 {
    padding: 6% 10% 12%;
  }
  .sec-home-1 h6 {
    margin-top: 10%;
  }
}

.sec-home-1 .projects-icons {
  list-style: none;
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.sec-home-1 .projects-icons li:not(:first-child) {
  margin-left: -.5em;
}

.sec-home-1 h1 {
  --w: 360px;
  --h: 40px;
  position: relative;
}

@media (max-width: 1399px) {
  .sec-home-1 h1 {
    --w: 300px;
    --h: 35px;
  }
}

@media (max-width: 991px) {
  .sec-home-1 h1 {
    line-height: 1.5em;
  }
}

.sec-home-1 h1 .line {
  position: absolute;
  top: 45%;
  left: 0%;
  width: var(--w);
  max-width: 0px;
  height: var(--h);
  overflow: hidden;
  -webkit-transition: 500ms ease-in-out 500ms;
  transition: 500ms ease-in-out 500ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.sec-home-1 h1 .line svg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  width: var(--w);
  height: var(--h);
  color: var(--accent-color);
}

.sec-home-1 h1 .line.observing {
  max-width: var(--w);
}

.sec-home-1 h1 span {
  position: relative;
  z-index: 10;
}

.sec-home-2 .indicator-switch {
  display: inline-block;
  width: 1.4em;
  height: .75em;
  border-radius: .75em;
  background-color: #C4C4C4;
  -webkit-transition: 300ms ease-in 500ms;
  transition: 300ms ease-in 500ms;
  padding: .1em;
  -webkit-box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.11);
          box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.11);
  vertical-align: middle;
}

.sec-home-2 .indicator-switch span {
  display: block;
  background-color: #fff;
  height: .55em;
  width: .55em;
  border-radius: .55em;
  -webkit-transition: 400ms ease-in 100ms;
  transition: 400ms ease-in 100ms;
}

.sec-home-2 .indicator-switch[data-observing=true] {
  background-color: #40D20D;
}

.sec-home-2 .indicator-switch[data-observing=true] span {
  -webkit-transform: translateX(0.65em);
          transform: translateX(0.65em);
}

.sec-home-2 h3 {
  font-size: 2em;
}

@media (max-width: 991px) {
  .sec-home-2 h3 {
    font-size: 1.75em;
  }
}

.sec-home-2 .service, .sec-home-2 .service-white, .sec-home-2 .service-white-2, .sec-home-2 .service-blue, .sec-home-2 .service-lightblue, .sec-home-2 .service-green {
  width: 100%;
  border-radius: 0.8em;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
  isolation: isolate;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

@media (max-width: 1849px) {
  .sec-home-2 .service, .sec-home-2 .service-white, .sec-home-2 .service-white-2, .sec-home-2 .service-blue, .sec-home-2 .service-lightblue, .sec-home-2 .service-green {
    height: 620px;
  }
}

@media (max-width: 1679px) {
  .sec-home-2 .service, .sec-home-2 .service-white, .sec-home-2 .service-white-2, .sec-home-2 .service-blue, .sec-home-2 .service-lightblue, .sec-home-2 .service-green {
    height: 550px;
  }
}

@media (max-width: 1399px) {
  .sec-home-2 .service, .sec-home-2 .service-white, .sec-home-2 .service-white-2, .sec-home-2 .service-blue, .sec-home-2 .service-lightblue, .sec-home-2 .service-green {
    height: 520px;
  }
}

@media (max-width: 1199px) {
  .sec-home-2 .service, .sec-home-2 .service-white, .sec-home-2 .service-white-2, .sec-home-2 .service-blue, .sec-home-2 .service-lightblue, .sec-home-2 .service-green {
    height: 460px;
  }
}

.sec-home-2 .service .box, .sec-home-2 .service-white .box, .sec-home-2 .service-white-2 .box, .sec-home-2 .service-blue .box, .sec-home-2 .service-lightblue .box, .sec-home-2 .service-green .box {
  margin: auto 0;
  padding: 0 3.5em;
}

@media (max-width: 1849px) {
  .sec-home-2 .service .box, .sec-home-2 .service-white .box, .sec-home-2 .service-white-2 .box, .sec-home-2 .service-blue .box, .sec-home-2 .service-lightblue .box, .sec-home-2 .service-green .box {
    padding: 0 3em;
  }
}

@media (max-width: 1199px) {
  .sec-home-2 .service .box, .sec-home-2 .service-white .box, .sec-home-2 .service-white-2 .box, .sec-home-2 .service-blue .box, .sec-home-2 .service-lightblue .box, .sec-home-2 .service-green .box {
    padding: 0 2em;
  }
}

.sec-home-2 .service-white {
  background-color: #fff;
  color: #060606;
  -webkit-box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.11);
          box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.11);
}

.sec-home-2 .service-white img {
  width: 75%;
  margin: 0px auto 2em;
}

.sec-home-2 .service-white-2 {
  height: 570px;
  background-color: #fff;
  color: #060606;
  -webkit-box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.11);
          box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.11);
}

@media (max-width: 1849px) {
  .sec-home-2 .service-white-2 {
    height: 520px;
  }
}

@media (max-width: 1679px) {
  .sec-home-2 .service-white-2 {
    height: 470px;
  }
}

@media (max-width: 1199px) {
  .sec-home-2 .service-white-2 {
    height: 400px;
  }
}

.sec-home-2 .service-white-2 img {
  width: 70%;
  margin-left: auto;
}

.sec-home-2 .service-blue {
  background-color: #0433FF;
  color: #fff;
}

.sec-home-2 .service-blue .imgs-div {
  position: relative;
}

.sec-home-2 .service-blue .imgs-div .main {
  position: relative;
  z-index: 1;
  width: 45%;
  margin: 0px 32% 0 23%;
  display: block;
}

@media (max-width: 1679px) {
  .sec-home-2 .service-blue .imgs-div .main {
    width: 50%;
    margin: 0px 30% 2px 20%;
  }
}

.sec-home-2 .service-blue .imgs-div .billet, .sec-home-2 .service-blue .imgs-div .billet-1, .sec-home-2 .service-blue .imgs-div .billet-2 {
  position: absolute;
  z-index: 2;
  opacity: 0;
}

.sec-home-2 .service-blue .imgs-div .billet-1 {
  top: 20%;
  left: 15%;
  width: 18%;
  -webkit-transition: 0.3s ease 200ms;
  transition: 0.3s ease 200ms;
}

.sec-home-2 .service-blue .imgs-div .billet-2 {
  bottom: 10%;
  right: 10%;
  width: 34%;
  -webkit-transition: 0.3s ease 400ms;
  transition: 0.3s ease 400ms;
}

.sec-home-2 .service-blue .imgs-div[data-observing=true] .billet, .sec-home-2 .service-blue .imgs-div[data-observing=true] .billet-1, .sec-home-2 .service-blue .imgs-div[data-observing=true] .billet-2 {
  opacity: 1;
}

.sec-home-2 .service-lightblue {
  height: 300px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #fff;
  padding-right: 0.5em;
  background: url(imgs/bg/mask-1.png) no-repeat #557AFF;
  background-size: auto 100%;
  background-position: 95% 50%;
}

@media (max-width: 1849px) {
  .sec-home-2 .service-lightblue {
    height: 270px;
  }
}

@media (max-width: 1679px) {
  .sec-home-2 .service-lightblue {
    height: 220px;
  }
}

@media (max-width: 1199px) {
  .sec-home-2 .service-lightblue {
    height: 180px;
  }
}

@media (max-width: 991px) {
  .sec-home-2 .service-lightblue {
    background: url(imgs/bg/mask-2.svg) no-repeat #557AFF;
    background-size: auto 55%;
    background-position: 100% 100%;
  }
}

.sec-home-2 .service-lightblue .box {
  margin: 0;
  padding: 2em 3em;
  width: 60%;
}

@media (max-width: 1199px) {
  .sec-home-2 .service-lightblue .box {
    padding: 2em;
  }
}

@media (max-width: 991px) {
  .sec-home-2 .service-lightblue .box {
    padding: 1.5em;
    width: 75%;
  }
}

.sec-home-2 .service-lightblue img {
  height: 100%;
  margin: 0 auto;
}

.sec-home-2 .service-green {
  background-color: #B9FF4A;
  color: #060606;
}

.sec-home-2 .service-green img {
  width: calc(100% - 3.5em);
  margin-left: 3.5em;
}

@media (max-width: 1849px) {
  .sec-home-2 .service-green img {
    width: calc(100% - 3em);
    margin-left: 3em;
  }
}

.sec-home-2 .service-folder {
  --height: 246px;
  background-color: transparent;
  height: var(--height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.sec-home-2 .service-folder .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: -3px;
  position: relative;
  z-index: 2;
  background-color: var(--bg);
}

.sec-home-2 .service-folder .top-left {
  border-width: 2px 0px 0px 2px;
  border-style: solid;
  border-color: var(--bg-invert);
  background-color: var(--bg);
  border-radius: 0.8em 0px 0px 0px;
  height: 43px;
  padding: 0.25em 0 0 1em;
  position: relative;
  z-index: 2;
}

.sec-home-2 .service-folder .top-right {
  background-color: var(--bg);
  height: 43px;
  width: 58px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.sec-home-2 .service-folder .top-right::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 43px;
  width: 24px;
  border-width: 2px 2px 0px 0px;
  border-style: solid;
  border-color: var(--bg-invert);
  border-top-right-radius: 24px;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transform: rotate(-40deg) translate(13px, 5px);
          transform: rotate(-40deg) translate(13px, 5px);
  z-index: 3;
}

.sec-home-2 .service-folder .top-right::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 43px;
  width: 24px;
  border-width: 0px 0px 2px 2px;
  border-style: solid;
  border-color: var(--bg-invert);
  border-bottom-left-radius: 24px;
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-transform: rotate(-40deg) translate(-13px, -6px);
          transform: rotate(-40deg) translate(-13px, -6px);
  z-index: 3;
}

.sec-home-2 .service-folder .bottom {
  position: relative;
  z-index: 1;
  background-color: var(--bg);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: var(--bg-invert);
  border-radius: 0px 0.8em 0.8em 0.8em;
  padding: 2em 1em 1em;
}

@media (max-width: 1849px) {
  .sec-home-2 .service-folder {
    --height: 226px;
  }
}

@media (max-width: 1199px) {
  .sec-home-2 .service-folder {
    --height: 196px;
  }
}

.sec-home-2 .service-folder .icon {
  width: 3em;
  margin-right: 1em;
}

.ticker {
  list-style: none;
  padding-left: 0px;
  background-color: var(--bg-invert);
  color: var(--bg);
  height: 127px;
  font-size: 2.7em;
  -webkit-transform: rotateZ(2deg);
          transform: rotateZ(2deg);
  overflow: hidden;
  pointer-events: none;
}

@media (max-width: 1679px) {
  .ticker {
    height: 110px;
    font-size: 2.4em;
  }
}

@media (max-width: 1399px) {
  .ticker {
    height: 100px;
    font-size: 2.2em;
  }
}

@media (max-width: 1199px) {
  .ticker {
    height: 80px;
    font-size: 2em;
  }
}

.ticker .swiper {
  height: 100%;
}

.ticker .swiper-wrapper {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.ticker .swiper-slide {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  height: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.ticker.type-2 {
  background-color: #557AFF;
  -webkit-transform: rotateZ(-2deg);
          transform: rotateZ(-2deg);
}

.ticker.type-2 .swiper-slide span {
  border: 2px solid currentColor;
  border-radius: 1em;
  padding: .1em .5em;
  color: #fff;
}

.sec-home-3 img {
  width: auto;
  max-width: 100%;
  border-radius: 0.8em;
  -webkit-box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.11);
          box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.11);
}

.sec-home-4 .union {
  position: relative;
  margin-bottom: -1px;
}

.sec-home-4 .union svg {
  width: 100%;
  height: auto;
  color: var(--bg-invert);
}

.sec-home-4 .union svg path {
  color: var(--bg-invert);
}

.sec-home-4 .union h3 {
  position: absolute;
  position: absolute;
  top: 27%;
  left: 43%;
  width: 57%;
  z-index: 1;
  color: var(--bg);
  margin-bottom: 0px;
}

@media (max-width: 1679px) {
  .sec-home-4 .union h3 {
    top: 30%;
    font-size: 2em;
  }
}

.sec-home-4 .photos {
  list-style: none;
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 1em;
}

.sec-home-4 .photos li {
  margin-right: -.75em;
}

.sec-home-4 .photos li img {
  width: 4.2em;
}

.sec-home-4 .logotips img {
  width: 100%;
  height: 180px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -webkit-filter: var(--invert);
          filter: var(--invert);
}

@media (max-width: 1849px) {
  .sec-home-4 .logotips img {
    height: 160px;
  }
}

@media (max-width: 1679px) {
  .sec-home-4 .logotips img {
    height: 140px;
  }
}

@media (max-width: 1399px) {
  .sec-home-4 .logotips img {
    height: 120px;
  }
}

@media (max-width: 1199px) {
  .sec-home-4 .logotips img {
    height: 100px;
  }
}

.sec-home-4 .box {
  background-color: var(--bg-invert);
  color: var(--bg);
  border-radius: 0.8em;
  padding: 1.5em 2em;
}

.sec-home-4 .box .diagram {
  position: relative;
  margin-top: -2em;
  font-size: 1.2vw;
}

@media (max-width: 991px) {
  .sec-home-4 .box .diagram {
    font-size: 2.2vw;
  }
}

.sec-home-4 .box .diagram img, .sec-home-4 .box .diagram svg {
  width: 70%;
  height: auto;
  margin: 0 10% 0 20%;
}

.sec-home-4 .box .diagram .title {
  position: absolute;
  top: 34%;
  left: 52%;
  width: 25%;
  text-align: center;
  color: var(--bg-invert);
  z-index: 1;
}

@media (max-width: 991px) {
  .sec-home-4 .box .diagram .title {
    top: 38%;
  }
}

.sec-home-4 .box .diagram .text-1 {
  position: absolute;
  top: 15%;
  right: 0%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1;
}

.sec-home-4 .box .diagram .text-2 {
  position: absolute;
  bottom: 3%;
  right: 0%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1;
}

.sec-home-4 .box .diagram .text-3 {
  position: absolute;
  bottom: 10%;
  left: 3%;
  width: 35%;
  z-index: 1;
  text-align: right;
}

.sec-home-4 .box .diagram .text-4 {
  position: absolute;
  top: 30%;
  left: 0%;
  width: 40%;
  z-index: 1;
}

.sec-home-5 {
  width: 100%;
  --height: 310px;
}

@media (max-width: 1679px) {
  .sec-home-5 {
    --height: 280px;
  }
}

@media (max-width: 1399px) {
  .sec-home-5 {
    --height: 235px;
  }
}

@media (max-width: 1199px) {
  .sec-home-5 {
    --height: 210px;
  }
}

.sec-home-5 .folder {
  width: 100%;
  background-color: transparent;
  height: var(--height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.sec-home-5 .folder .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: -3px;
  position: relative;
  z-index: 2;
  background-color: var(--bg);
}

.sec-home-5 .folder .top-left {
  border-width: 2px 0px 0px 2px;
  border-style: solid;
  border-color: var(--bg-invert);
  background-color: var(--bg);
  border-radius: 0.8em 0px 0px 0px;
  height: 43px;
  padding: 0.25em 0 0 1em;
  position: relative;
  z-index: 2;
}

.sec-home-5 .folder .top-right {
  background-color: var(--bg);
  height: 43px;
  width: 58px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.sec-home-5 .folder .top-right::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 43px;
  width: 24px;
  border-width: 2px 2px 0px 0px;
  border-style: solid;
  border-color: var(--bg-invert);
  border-top-right-radius: 24px;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transform: rotate(-40deg) translate(13px, 5px);
          transform: rotate(-40deg) translate(13px, 5px);
  z-index: 3;
}

.sec-home-5 .folder .top-right::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 43px;
  width: 24px;
  border-width: 0px 0px 2px 2px;
  border-style: solid;
  border-color: var(--bg-invert);
  border-bottom-left-radius: 24px;
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-transform: rotate(-40deg) translate(-13px, -6px);
          transform: rotate(-40deg) translate(-13px, -6px);
  z-index: 3;
}

.sec-home-5 .folder .bottom {
  position: relative;
  z-index: 1;
  background-color: var(--bg);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  border-width: 2px;
  border-style: solid;
  border-color: var(--bg-invert);
  border-radius: 0px 0.8em 0.8em 0.8em;
  padding: 2em 1em 1em;
}

.sec-home-5 .folder .top-left {
  padding: .7em 0.25em 0 1.5em;
}

.sec-home-5 .folder .bottom {
  padding: 2.5em 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 1199px) {
  .sec-home-5 .folder .bottom {
    padding: 2em 1.5em;
  }
}

.sec-home-5 .card, .sec-home-5 .card-2 {
  border-radius: 0.8em;
  padding: 2.5em 1.5em;
  height: var(--height);
  background-color: #0433FF;
  color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 1199px) {
  .sec-home-5 .card, .sec-home-5 .card-2 {
    padding: 2em 1.5em;
  }
}

.sec-home-5 .card .marker, .sec-home-5 .card-2 .marker {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 10;
  width: 2.5em;
  height: 1.25em;
  border-radius: 0.8em;
  background-color: #fff;
}

.sec-home-5 .card-2 {
  background-color: var(--bg-invert);
  color: var(--bg);
}

.sec-home-5 .card-2 .marker {
  background-color: #0433FF;
}

.sec-home-6 ul {
  width: 90%;
  margin: 1em 0;
  list-style: none;
  padding-left: 0px;
}

@media (max-width: 1679px) {
  .sec-home-6 ul {
    width: 100%;
  }
}

.sec-home-6 ul li {
  margin-bottom: 1em;
}

.sec-home-6 ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-bottom: 2px solid #EDEDED;
  padding: .75em 0;
  position: relative;
}

.sec-home-6 ul li a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0px;
  height: 2px;
  width: 500px;
  max-width: 0%;
  background-color: var(--accent-color-invert);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.sec-home-6 ul li a h4 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 0px;
}

.sec-home-6 ul li a .icon {
  font-size: 1.5em;
  color: var(--bg-invert);
  margin-left: .5em;
  opacity: 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.sec-home-6 ul li a:hover .icon, .sec-home-6 ul li a:focus .icon {
  opacity: 1;
}

.sec-home-6 ul li a.active::after {
  max-width: 30%;
}

.sec-home-6 .preview {
  border: 2px solid var(--bg-invert);
  padding: 1em;
  border-radius: 0.8em 0.8em 0.8em 0px;
  position: relative;
  margin-left: 43px;
}

.sec-home-6 .preview img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.8em;
}

@media (max-width: 1849px) {
  .sec-home-6 .preview img {
    height: 350px;
  }
}

@media (max-width: 1679px) {
  .sec-home-6 .preview img {
    height: 280px;
  }
}

.sec-home-6 .preview .info {
  list-style: none;
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: var(--faded);
}

.sec-home-6 .preview .info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.sec-home-6 .preview .info li:not(:first-child) {
  margin-left: 1em;
}

.sec-home-6 .preview .text {
  width: 90%;
  margin-top: 2em;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1em;
  max-height: 4em;
}

@media (max-width: 1679px) {
  .sec-home-6 .preview .text {
    margin-top: 1em;
  }
}

.sec-home-6 .preview .markers {
  position: absolute;
  top: 1em;
  right: 1em;
  width: calc(100% - 2em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sec-home-6 .preview .pillow {
  position: absolute;
  z-index: 10;
  right: calc(100% - 2px);
  bottom: -2px;
  width: 43px;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.sec-home-6 .preview .pillow .top {
  width: 100%;
  height: 43px;
  background-color: var(--bg);
  position: relative;
  overflow: hidden;
}

.sec-home-6 .preview .pillow .top::before {
  content: "";
  background-color: var(--bg);
  position: absolute;
  top: 0px;
  right: 0px;
  height: 50%;
  width: 100%;
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: var(--bg-invert);
  border-bottom-right-radius: 24px;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transform: rotate(-40deg) translate(23%, 70%);
          transform: rotate(-40deg) translate(23%, 70%);
  z-index: 3;
}

.sec-home-6 .preview .pillow .top::after {
  content: "";
  background-color: var(--bg);
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 50%;
  width: 100%;
  border-width: 2px 0px 0px 2px;
  border-style: solid;
  border-color: var(--bg-invert);
  border-top-left-radius: 24px;
  -webkit-transform-origin: 100% 0%;
          transform-origin: 100% 0%;
  -webkit-transform: rotate(-40deg) translate(-32%, -70%);
          transform: rotate(-40deg) translate(-32%, -70%);
  z-index: 3;
}

.sec-home-6 .preview .pillow .bottom {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: var(--bg);
  border-width: 0 0 2px 2px;
  border-style: solid;
  border-color: var(--bg-invert);
  border-radius: 0 0 0 0.8em;
}

.sec-home-7 {
  background-color: var(--bg-invert);
  border-radius: 0.8em;
  padding: 5%;
  color: var(--bg);
}

footer {
  height: var(--f-height);
  background-color: var(--bg-invert);
  color: var(--bg);
  margin: 1em 0;
  padding: 0 1.875em;
  border-radius: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

footer a {
  margin-left: 2em;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  list-style: none;
  padding-left: 0px;
}

.social li:not(:first-child) {
  margin-left: .6em;
}

.social li a {
  opacity: .8;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.social li a:hover, .social li a:focus, .social li a:active {
  opacity: 1;
}

.social li a img {
  width: 2em;
  height: 2em;
}

.scroll-top {
  position: fixed;
  z-index: 100;
  bottom: 2em;
  right: 2em;
  background-color: #fff;
  color: #0433FF;
  border: 1px solid currentColor;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.scroll-top svg {
  font-size: 1.25em;
}

.scroll-top span {
  font-size: .7em;
}

.scroll-top.hide {
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
/*# sourceMappingURL=style.css.map */